<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/Class.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/EventManager.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/Utility/general.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/Utility/array.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/Utility/string.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/Utility/graphics.js"></script>
    <script type="text/javascript" src="~/Scripts/StackBlur.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Stage.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Layer.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Render.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Filters.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Transition.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Shapes/Shape.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Shapes/Line.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Shapes/Image.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Shapes/Arc.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Shapes/Rectangle.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/UI/Render/Animation.js"></script>

    </head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
